<% content_for :title do %>About<% end %>
<center> <h4> <font color="white"> ABOUT THE WEBSITE </font> </h4> </center>

<center>
<h5>
This webpage is an Application Idea Management System that is specially designed to match ideas with developers.The system itself  allows a user to register an account, enter an application idea, and/or respond to an application idea as a developer or designer.
This web application was created with
<%= link_to('Rails Composer', 'http://railsapps.github.io/rails-composer/') %>
from the <%= link_to('RailsApps project', 'http://railsapps.github.io/') %>.
</h5>
</center>