<% content_for :title do %>Help Center<% end %>
<center> <h4> <font color="white"> HELP CENTER </font> </h4> </center>

<center>
<h3> Instructions: </h3>
<h5>
<br>
1. Any visitor or user can view the current ideas available at Application Idea Manager
</br>
2.In order to become a user, the visitor has to sign up an create an account
</br>
3.After creating the account the user can log in and out of the account
</br>
4. The user can then create his or her own application idea
</br>
5. The user can create, edit and destroy only his own idea via My Ideas or My Account
</br>
6. The user can also view other users of Application Idea Manager
</br>
7. User cannot delete any other user or other user's idea unless he or she is an Admin. 

</h5>

<h3> Contact Information </h3>
Telephone: +974 50132761  | 
Email: <a href="mailto:medinaa@qatar.cmu.edu?Subject=Hello%20again" target="_top">applicationidea@manager.org</a>

</center>